

<div class="login-container">
  <mat-card class="login-card">
    <div class="login-content">
      <div class="left-section">
        <img src="https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-09-512.png"
          alt="Google" class="google-logo">
        <h1 class="sign-in-title">Forgot Password</h1>
        <p class="sign-in-subtitle">Enter your Information</p>
      </div>

      <div class="right-section">
        <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
          <div class="form-field">
            <input formControlName="email" type="email" placeholder="Enter Email">
          </div>

          <!-- Error messages -->
          <div *ngIf="submitted && email?.errors">
            <small *ngIf="email?.errors?.['required']" class="error">Email is required.</small>
            <small *ngIf="email?.errors?.['email']" class="error">Enter a valid email.</small>
          </div>

          <div class="action-buttons">
            <button mat-raised-button type="submit" class="NextButton">Next</button>
          </div>
        </form>
      </div>
    </div>
  </mat-card>

  <div class="footer">
    <a href="#">Help</a>
    <a href="#">Privacy</a>
    <a href="#">Terms</a>
  </div>
</div>
