.notes-container {
  padding: 16px;
  margin-top: 16px;
}

.notes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(232px, 1fr)); // increased width
  gap: 16px;
}

.note-card {
  position: relative;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  transition: box-shadow 0.2s ease-in-out;
  background: white;
  break-inside: avoid;
  padding: 8px;

  .note-actions,
  ::ng-deep app-icon-button {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  &:hover {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
      0 1px 3px 1px rgba(60, 64, 67, 0.149);

    .note-actions,
    ::ng-deep app-icon-button {
      opacity: 1;
    }
  }

  &.selected {
    border: 2px solid #1a73e8;

    .select-button {
      opacity: 1;

      .material-icons-outlined.selected {
        color: #1a73e8;
      }
    }
  }
}

.note-content {
  padding: 8px 12px;
  min-height: 60px; // reduced height
  position: relative;
}

.note-title {
  font-size: 15px;
  font-weight: 500;
  color: #202124;
  margin-bottom: 16px; // Increased space between title and description
  word-wrap: break-word;
}

.note-body {
  font-size: 13px;
  font-weight: 400;
  color: #202124;
  word-wrap: break-word;
  margin-bottom: 6px;
}

.select-button {
  position: absolute;
  top: 4px;
  left: 4px;
  opacity: 0;
  transition: opacity 0.2s;
  z-index: 1;

  .material-icons-outlined {
    font-size: 20px;
    color: #5f6368;
  }
}

.pin-button {
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 1;

  .material-icons-outlined {
    font-size: 20px;
    color: #5f6368;

    &.pinned {
      color: rgb(25, 103, 210);
    }
  }
}

.note-actions {
  display: flex;
  align-items: center;
  gap: 3px;
  transition: opacity 0.2s ease-in-out;
  padding-top: 6px;

  button {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: rgba(95, 99, 104, 0.039);
    }

    .material-icons-outlined {
      font-size: 18px;
      color: #5f6368;
      width: 18px;
      height: 18px;
    }
  }
}

::ng-deep app-icon-button button {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.note-card:hover ::ng-deep app-icon-button button {
  opacity: 1;
}

.collaborators {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 12px;

  .collaborator {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    padding: 2px 8px;

    .collab-icon {
      font-size: 16px;
      margin-right: 4px;
    }

    .collab-email {
      font-size: 12px;
      color: #5f6368;
    }
  }
}

.loading-container,
.error-container,
.empty-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 48px 0;
  color: #5f6368;

  p {
    margin-top: 16px;
    font-size: 16px;
  }

  button {
    margin-top: 16px;
  }
}

.error-icon,
.empty-icon {
  font-size: 48px;
  color: #5f6368;
  opacity: 0.5;
}

.mat-menu-item {
  .material-icons-outlined {
    margin-right: 8px;
    color: #5f6368;
  }
}
