
<div class="login-container">
    <mat-card class="login-card">
        <div class="login-content">
            <div class="left-section">
                <img src="https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-09-512.png" alt="Google"
                    class="google-logo">
                <h1 class="sign-in-title">Create a Google Account</h1>
                <p class="sign-in-subtitle">Enter your Information</p>
            </div>
            <div class="right-section">
                <form [formGroup]="registerForm" (ngSubmit)="Register()">
                    <div class="form-field">
                        <input formControlName="firstName" type="email" placeholder="FirstName">
                    </div>

                   

                    <div class="form-field">
                        <input formControlName="lastName" placeholder="LastName">
                    </div>
                    <div class="form-field">
                        <input formControlName="email" placeholder="Email">
                    </div>

                    <div class="form-field">
                        <input formControlName="password" placeholder="Password">
                    </div>
                  
                    <div class="action-buttons">
                       
                        <button mat-raised-button type="submit" class="NextButton">Next</button>
                    </div>
                </form>
            </div>
        </div>
    </mat-card>

    <div class="footer">
        <a href="#">Help</a>
        <a href="#">Privacy</a>
        <a href="#">Terms</a>
    </div>
</div>
