<div class="app-container">
  <mat-toolbar color="primary" class="toolbar">
    <div class="toolbar-left">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <div class="logo-container">
        <mat-icon>description</mat-icon>
        <span class="app-title">{{ title }}</span>
      </div>
    </div>

    <div class="search-container">
      <Form  class="search-form">
        <span class="material-symbols-outlined"></span>
        <input placeholder="Search" [(ngModel)]="searchText" type="search" (keyup)="search($event)">
      </Form>
    </div>

    <div class="toolbar-right">
      <button mat-icon-button>
        <mat-icon>refresh</mat-icon>
      </button>

      <button mat-icon-button (click)="toggleView()">
        <mat-icon>{{ viewMode === 'grid' ? 'view_agenda' : 'grid_view' }}</mat-icon>
      </button>

      <button mat-icon-button>
        <mat-icon>settings</mat-icon>
      </button>

      <button mat-icon-button class="apps-icon">
        <mat-icon>apps</mat-icon>
      </button>

      <button mat-icon-button [matMenuTriggerFor]="accountMenu" class="user-avatar">
        <mat-icon>account_circle</mat-icon>
      </button>
      
      <mat-menu #accountMenu="matMenu">
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>

    
  </mat-toolbar>  

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened class="sidenav">
      <mat-nav-list>
        <mat-list-item *ngFor="let item of navItems" (click)="navigateTo(item.route, item.name)">
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ item.name }}</span>
        </mat-list-item>

          

      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="content">
      <!-- <app-get-note></app-get-note> -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
