<p>reset-password works!</p>


<div class="login-container">
    <mat-card class="login-card">
        <div class="login-content">
            <div class="left-section">
                <img src="https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-09-512.png" alt="Google"
                    class="google-logo">
                <h1 class="sign-in-title">Reset Password</h1>
                <p class="sign-in-subtitle">Enter strong password</p>
            </div>
            <div class="right-section">
                <form>
                    <div class="form-field">
                        <input formControlName="New Password" type="email" placeholder="New Password">
                    </div>
                  
                    <div class="form-field">
                        <input formControlName="Conform Password" type="email" placeholder="Conform Password">
                    </div>
                  
                    <div class="action-buttons">
                       
                        <button mat-raised-button type="submit" class="NextButton">Next</button>
                    </div>
                </form>
            </div>
        </div>
    </mat-card>

    <div class="footer">
        <a href="#">Help</a>
        <a href="#">Privacy</a>
        <a href="#">Terms</a>
    </div>
</div>
